{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block home %}
class="active"
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="grid">
		<div class="grid-sizer col-xs-1 col-md-1"></div>
		<div class="grid-item col-xs-12 col-md-12" style="background: #074094;">
			<div class="grid-item-content">
				<div id="particles-js" style="background: rgba(0,0,0,0.1); height: 100%"></div>
				<img class="center-block img-responsive" src="{% static 'dlabsite/img/DLVertColorRvrsLogo.png' %}" style="max-width: 50%; position: relative; padding-top: 100px;padding-bottom: 100px">
			</div>
		</div>
		{% for news_item in query_news_items %}
		<div class="grid-item col-xs-12 col-md-4">
			<a href="{{ news_item.URL }}"><div class="news-item">
				<figure>
					{% cycle 1 2 as n silent %}
					{% if n == 1 %}
					<img class="center-block img-responsive news-image" src="{% static 'dlabsite/img/cats.png' %}">
					{% else %}
					<img class="center-block img-responsive news-image" src="{% static 'dlabsite/img/spamju.png' %}">
					{% endif %}
					<figcaption>
						<p>{{ news_item.title }}</p>
					</figcaption>
				</figure>
			</div></a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Load the masonry jQuery -->
<script>
	// init Masonry
	var $grid = $('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true
	});
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry('layout');
	});
</script>
<!-- Load the particles settings -->
<script>
	particlesJS.load('particles-js', '{% static 'dlabsite/js/particles_white.json' %}', function() {});
</script>
{% endblock %}