{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block people %}
class="active"
{% endblock %}

{% block content %}
<div class="container-fluid section-container parallax-window" data-parallax="scroll" data-image-src="{% static 'dlabsite/img/test.jpg' %}">
	<div class="grid">
		<div class="grid-sizer col-xs-1 col-md-1"></div>
		<div class="grid-item col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<div class="section-header">
				<p>Some kind of quote should go here.</p>
				<p>Or maybe some kind of description.</p>
				<p>It should sound smart/clever.</p>
				<p>Tap a photo to see the profile.</p>
			</div>
		</div>
		{% for person in query_lab_members %}
		{% cycle "col-md-2 col-md-offset-2" "col-md-2 col-md-offset-1" "col-md-2 col-md-offset-1" as person_grid_class silent %}
		<div class="grid-item member-icon col-xs-4 col-xs-offset-4 {{person_grid_class}}" id="lb_{{forloop.counter0}}">
			{% if person.photo.url != '' %}
			<img class="img-responsive lab-mem-portrait" src="{{person.photo.url}}">
			{% else %}
			<img class="img-responsive lab-mem-portrait" src="{% static 'dlabsite/img/photonotavailable.gif' %}">
			{% endif %}
		</div>
		{% endfor %}
		{% for person in query_lab_members %}
		<div class="grid-item col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-1 hide-portrait" id="lb_{{forloop.counter0}}" style="padding-top: 10px;">
			<div class="section-header">
				<p>Name: {{person.last_name}}, {{person.first_name}}</p>
				<p>Email: {{person.email}}</p>
				<p>Phone: {{person.phone}}</p>
				{% if person.title_index == 1 %}
				<p>Principal Investigator</p>
				{% endif %}
				{% if person.title_index == 2 %}
				<p>Staff Scientist</p>
				{% endif %}
				{% if person.title_index == 3 %}
				<p>Post-Doc</p>
				{% endif %}
				{% if person.title_index == 4 %}
				<p>Graduate Student</p>
				{% endif %}
				{% if person.title_index == 5 %}
				<p>Research Assistant/Technician</p>
				{% endif %}
				{% if person.title_index == 6 %}
				<p>Undergraduate Student</p>
				{% endif %}
				{% if person.title_index == 7 %}
				<p>Visiting Scholar</p>
				{% endif %}
				{% if person.title_index == 8 %}
				<p>Lab Alumni</p>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block scripts %}
<!-- Load the masonry jQuery -->
<script>
	// Setup the grid
	var $grid = $('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true
	});
	
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry('layout');
	});
	
	// Set flag for offset in middle and right columns
	var middle_right = 0;
	
	// Control grid when user clicks portrait
	$grid.on('click', '.member-icon', function(event) {
		
	});
</script>	
{% endblock %}