{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block research %}
class="active"
{% endblock %}

{% block content %}
<div class="container-fluid section-container parallax-window" data-parallax="scroll" data-image-src="{% static 'dlabsite/img/test.jpg' %}">
	<div class="grid">
		<div class="grid-sizer col-xs-1 col-md-1"></div>
		<div class="grid-item col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<div class="section-header">
				<p>Some kind of quote should go here.</p>
				<p>Or maybe some kind of description.</p>
				<p>It should sound smart/clever.</p>
				<p>Tap a block to see the more info.</p>
			</div>
		</div>
		{% for research in query_research %}
		<div class="grid-item research-row col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" id="lb_{{forloop.counter0}}">
			{% autoescape off %}
			<div class="row section-header">
				<div class="col-xs-3">
					<h4>{{research.research_title}}</h4>
				</div>
				<div class="col-xs-9">
					{{research.research_description}}
				</div>
			</div>
			{% endautoescape %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	// Setup the grid
	var $grid = $('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true
	});
	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
	  $grid.masonry('layout');
	});
</script>
{% endblock %}