{% extends "wiki/base_site.html" %}
{% load static %}

{% block wiki_site_title %} - δγ Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" style="padding-top: 5px; padding-right: 0px; padding-bottom: 5px;" href="{% url 'wiki:root' %}"><img style="width: 40px;" src="{% static "wiki/logos/dg.png" %}"></a>
{% endblock %}

{% block mymods %}
<link rel="icon" type="image/x-icon" href="{% static "wiki/logos/dg.ico" %}">
<style>
.wiki-article h2 {padding-bottom: 9px;}
.codehilite-wrap {max-height: none !important;}
.codehilite {max-height: none !important;}
</style>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
 <li><a href="/">Dosenbach Lab Home</a></li>
 <li><a href="/wiki/">Greene Lab Home</a></li>
</ul>
{% endblock %}
