html, body {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
	font-size: 16px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.container-nav-clear {
	padding-top: 80px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-header {
    border-bottom: 0px solid #000000;
}
.modal-content {
    border-radius: 0px;
}
.particle {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
}
.title-content {
	position: absolute;
	z-index: 2;
	top: 45%;
	text-align: center;
	width: 100%;
	-webkit-animation-delay: 1500ms;
	        animation-delay: 1500ms;
}
.symbol-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.symbol {
	width: 80px;
}
.title {
	width: 80%;
	background: rgba(255,255,255,0.25);
	padding-top: 5px;
	padding-bottom: 5px;
}
.section-header {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}
.section-block {
	position: absolute;
	width: 100%;
	display: block;
	-webkit-animation-delay: 2000ms;
	        animation-delay: 2000ms;
}
.section {
	padding: 20px 0;
}
.grid-item {
	padding-left: 0px;
	padding-right: 0px;
	-webkit-animation-delay: 500ms;
	        animation-delay: 500ms;
}
.lab-mem-portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 225px;
	height: 300px;
	padding: 10px 10px;
	-webkit-transition: filter 200ms linear;
			transition: filter 200ms linear;
}
.lab-mem-portrait:hover {
	filter: brightness(50%);
	cursor: pointer;
}
.pub-row {
	margin-bottom: 30px;
}
.group-img {
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
}
.sub-caption {
	font-size: 18px;
}
.research-text {
	font-size: 14px;
}
.project-text {
	color: white;
	font-size: 10px;
}
.project-section {
	background: black;
	height: 150%;
}
@media only screen and (min-width : 768px) {
	.research-text {
		font-size: 24px;
	}
	.project-text {
		color: white;
		font-size: 20px;
	}
	.project-section {
		background: black;
		height: 150%;
	}
}
@media only screen and (min-width : 992px) {
	.research-text {
		font-size: 28px;
	}
	.project-text {
		color: white;
		font-size: 24px;
	}
	.project-section {
		background: black;
		height: 150%;
	}
}
@media only screen and (min-width : 1200px) {
	.research-text {
		font-size: 32px;
	}
	.project-text {
		color: white;
		font-size: 28px;
	}
	.project-section {
		background: black;
		height: 150%;
	}
}
