{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content={% block description %}{% endblock %}>
		<meta name="author" content="Andrew Van">
		<link rel="icon" href="{% static 'dlabsite/img/favicon.ico' %}">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dosenbach Lab | {% block title %}{% endblock %}</title>

		<!-- Google Analytics -->
		<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  		ga('create', 'UA-103586837-1', 'auto');
  		ga('send', 'pageview');
		</script>

		<!-- Lato Font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Font Awesome -->
		<script src="https://use.fontawesome.com/e1a3eeb374.js"></script>

		{% block head %}
		{% endblock %}

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'dlabsite/css/navbar.css' %}">
		<link rel="stylesheet" href="{% static 'dlabsite/css/style.css' %}">
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" style="-webkit-animation-delay: 2s; animation-delay: 2s;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand symbol-container" id="home" href="{% url 'dlabsite:homepage' %}">
						<img class="symbol" src="{% static 'dlabsite/img/DLSymLogo.png' %}">
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li {% block home %}{% endblock %}>
							<a href="{% url 'dlabsite:homepage' %}" id="home">home</a>
						</li>
						<li {% block people %}{% endblock %}>
							<a href="{% url 'dlabsite:people' %}" id="people">lab members</a>
						</li>
						<li {% block research %}{% endblock %}>
							<a href="{% url 'dlabsite:research' %}" id="research">research</a>
						</li>
						<li {% block publications %}{% endblock %}>
							<a href="{% url 'dlabsite:publications' %}" id="publications">publications</a>
						</li>
						<li {% block data %}{% endblock %}>
							<a href="{% url 'dlabsite:data' %}" id="data">data</a>
						</li>
						<li {% block software %}{% endblock %}>
							<a href="{% url 'dlabsite:software' %}" id="software">software</a>
						</li>
						<li {% block wiki %}{% endblock %}>
							<a href="wiki" id="wiki">wiki</a>
						</li>
						<li {% block participate %}{% endblock %}>
							<a href="{% url 'dlabsite:participate' %}" id="participate">participate</a>
						</li>
						<li {% block careers %}{% endblock %}>
							<a href="{% url 'dlabsite:careers' %}" id="careers">careers</a>
						</li>
						<li {% block directions %}{% endblock %}>
							<a href="{% url 'dlabsite:directions' %}" id="directions">directions</a>
						</li>
						<li {% block contact %}{% endblock %}>
							<a href="{% url 'dlabsite:contact' %}" id="contact">contact</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		{% block content %}
		{% endblock %}

		{% if request.get_full_path != '/' and request.get_full_path != '/lab_members' %}
		<div class="container animated fadeIn" style="margin-top: 50px; margin-bottom: 25px;">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center" style="font-size: 9px;">
					<p>This site was designed and coded by <a href="mailto:vanandrew@wustl.edu">Andrew Van</a>.
						View the source code<a target="_blank" href="https://github.com/vanandrew/dglabsite"> here</a>.
						Copyright (&copy;) 2017 Andrew Van.</p>
			</div>
		</div>
		{% endif %}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		</script>
		<!-- navbar scripts -->
		<script src="{% static 'dlabsite/js/navbar.js' %}"></script>
		<script>
			navbar_click('#home','{% url 'dlabsite:homepage' %}','body>div,body>section');
			navbar_click('#people','{% url 'dlabsite:people' %}','body>div,body>section');
			navbar_click('#research','{% url 'dlabsite:research' %}','body>div,body>section');
			navbar_click('#publications','{% url 'dlabsite:publications' %}','body>div,body>section');
			navbar_click('#data','{% url 'dlabsite:data' %}','body>div,body>section');
			navbar_click('#software','{% url 'dlabsite:software' %}','body>div,body>section');
			navbar_click('#wiki','wiki','body>div,body>section');
			navbar_click('#directions','{% url 'dlabsite:directions' %}','body>div,body>section');
			navbar_click('#participate','{% url 'dlabsite:participate' %}','body>div,body>section');
			navbar_click('#careers','{% url 'dlabsite:careers' %}','body>div,body>section');
			navbar_click('#contact','{% url 'dlabsite:contact' %}','body>div,body>section');
		</script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
