{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block description %}
"Directions to the Dosenbach Lab at Washington Univeristy in St. Louis School of Medicine"
{% endblock %}

{% block title %}
Careers
{% endblock %}

{% block careers %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Careers</h2>
				<hr>
				<p class="sub-caption">Interested in working with us? Apply below.</p>
			</div>
		</div>
	</section>
</div>
{% if jobpostings %}
	<div class="container" style="min-height: 700px;">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>The job links below are for <b>external (Non-WashU) applicants only</b>. If you are already a WashU employee,
					please apply <a target="_blank" href="https://wuissrv20.wustl.edu/psp/HRMS/EMPLOYEE/HRMS/c/HRS_HRAM_EMP.HRS_APP_SCHJOB.GBL?FOCUS=Employee&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.HC_HRS_CE_GBL&IsFolder=false&IgnoreParamTempl=FolderPath%2cIsFolder">here</a>.</p>
			</div>
		</div>
		<br>
		{% for job in jobpostings %}
		<div class="row">
			<div class="panel panel-default" style="visibility: hidden;">
				<div class="panel-heading"><h4>{{job.title}} - {{job.jobid}}</h4></div>
				<div class="panel-body">
					{% autoescape off %}
					{{job.description}}
					{% endautoescape %}
					<a class="btn btn-primary" target="_blank" href="https://jobs.wustl.edu/psc/APPLHRMS/EMPLOYEE/HRMS/c/HRS_HRAM.HRS_APP_SCHJOB.GBL?Page=HRS_APP_JBPST&REL_ACTION=Yes&SiteId=1&HRS_JO_PST_TYPE=E&HRS_JOB_OPENING_ID={{job.jobid}}&HRS_JO_PST_SEQ=1">Apply Here</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% else %}
	<div class="col-lg-12 text-center">
		<h3>Coming Soon:<br>Job postings for Postdoctoral Researcher and Research Assistant.</h3>
		<h3><a href="mailto:nil-dosenbach-lab@email.wustl.edu">Email us</a> if you're interested.</h3>
		<br>
	</div>
{% endif %}
{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
	//Setup scroll reveal
	sr = ScrollReveal();

	// scroll reveal
	sr.reveal('.panel',{
  		reset: false,
		duration: 1000,
		viewFactor: 0.2,
	});
</script>
{% endblock %}
