{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block title %}
Contact
{% endblock %}

{% block contact %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Contact Us</h2>
				<hr>
			</div>
		</div>
	</section>
</div>
<div class="container animated fadeIn" style="min-height: 700px;">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>Please contact <b>Jackie Hampton, Clinical Research Study Assistant</b>, at
				<a href="mailto:jackiehampton@wustl.edu">jackiehampton@wustl.edu</a>
				or 314-362-4154 for more information about
				participating in our research or if you have general research study questions.</p>
			<p>Our Mailing Address: </p>
			<p class="text-center" style="margin-bottom: 0px;">660 South Euclid Avenue</p>
			<p class="text-center" style="margin-bottom: 0px;">Campus Box 8111</p>
			<p class="text-center" style="margin-bottom: 0px;">St. Louis, MO 63110</p>
		<br>
		</div>
		<div class="col-lg-10 col-lg-offset-1 embed-responsive embed-responsive-4by3 text-center">
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScOj9wfe1SGFHOoAwWb1QgoGNJk09Aem2VMNUHv4wNw8tvuQw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
