{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block contact %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Contact Us</h2>
				<hr>
			</div>
		</div>
	</section>
</div>
<div class="container animated fadeIn" style="min-height: 700px;">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>Please contact Jackie Hampton, Clinical Research Study Assistant, at
				<a href="mailto:jackiehampton@wustl.edu">jackiehampton@wustl.edu</a>
				or 314-362-4154 for more information about
				participating in our research or if you have general research study questions.</p>
			<br>
			<br>
			<br>
			<br>
			<p class="text-center">GOOGLE FORM TO GO HERE</p>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
