{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block description %}
"Directions to the Dosenbach Lab at Washington University in St. Louis School of Medicine"
{% endblock %}

{% block title %}
Directions
{% endblock %}

{% block directions %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Directions</h2>
				<hr>
				<p class="sub-caption">Lost? We can help.</p>
			</div>
		</div>
	</section>
</div>
<div class="container animated fadeIn" style="min-height: 700px;">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<h4>We are located at Washington University Medical Campus, 4525 Scott Avenue, St. Louis, MO, 63110 in the East Building.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 embed-responsive embed-responsive-16by9 text-center">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.5859294558313!2d-90.26338608378377!3d38.63540577961185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4df12c2afab%3A0xc814cc6b42b83971!2s4525+Scott+Ave%2C+St.+Louis%2C+MO+63110!5e0!3m2!1sen!2sus!4v1499803500389" width="800" height="600" frameborder="0" style="border:0" allowfullscreen>Loading...</iframe>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-1">
			<h4>From 64/40 Westbound</h4>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<p>Take exit 36 for Kingshighway</p>
			<p>Keep right at the fork to go north on Kingshighway Blvd</p>
			<p>Merge onto Kingshighway Blvd</p>
			<p>Turn right at Forest Park Ave</p>
			<p>Turn right at S Taylor Ave</p>
			<p>Turn right at Scott Ave</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-1">
			<h4>From 170</h4>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<p>Take exit 1E to merge onto Forest Park Pkwy</p>
			<p>Continue on Forest Park Ave</p>
			<p>Turn right at S Taylor Ave</p>
			<p>Turn right at Scott Ave</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-1">
			<h4>From 44 Eastbound</h4>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<p>Take exit 287A for Kingshighway</p>
			<p>Turn left to go north on Kingshighway Blvd</p>
			<p>Turn right at Forest Park Ave</p>
			<p>Turn right at S Taylor Ave</p>
			<p>Turn right at Scott Ave</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-1">
			<h4>From 44 Westbound</h4>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<p>Take exit 287B-A for Vandeventer Ave toward Kingshighway</p>
			<p>Slight right at McRee Ave (follow signs for Kingshighway)</p>
			<p>Turn right to go north on Kingshighway Blvd</p>
			<p>Turn right at Forest Park Ave</p>
			<p>Turn right at S Taylor Ave</p>
			<p>Turn right at Scott Ave</p>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Metro</h3>
			<p>If you are traveling by Metro bus or train, please use the <b>Central West End Metro Bus Center</b> stop
				as your final destination. You are then able to head East to reach Taylor Street. You will head South
				on Taylor Street and then turn right directly onto Scott Avenue. You will see the East Building on
				your right.</p>
			<p>Please see the <a target="_blank" href="https://www.metrostlouis.org/trip-planner">Metro Trip Planner</a> to find the best route for you.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Parking</h3>
			<p>Directly across the street (Scott Avenue) from the front doors of the building is a small
				row of parking spaces. Please park in the designated spaces that read
				<b>“Reserved for Radiology Research Patients Only.”</b> This is free to research participants and
				there should be an open spot for you. A research team member will place a parking pass on your windshield.</p>
			<div class="col-sm-12">
				<img class="group-img img-responsive" src="{% static 'dlabsite/other_resources/parking1.png' %}">
			</div>
			<div class="col-sm-12">
				<img class="group-img img-responsive" src="{% static 'dlabsite/other_resources/parking2.png' %}">
			</div>
			<div class="col-sm-8">
				<img class="group-img img-responsive" src="{% static 'dlabsite/other_resources/parking3.png' %}">
			</div>
			<div class="col-sm-4">
				<img class="group-img img-responsive" src="{% static 'dlabsite/other_resources/parking4.png' %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
