{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-x">
    <div class="cell medium-12 large-12">
        <div class="grid-y grid-frame align-center-middle text-center primary" style="height:100vh;background:#BFD8D2;">
            <h1>Lab Photo here...</h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center primary" style="height:100vh;background:#F4F4F4;">
            <h1><a style="color: black;" href="{% url 'dlabsite:people' %}">lab members</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#DCB239;">
            <h1><a style="color: black;" href="{% url 'dlabsite:research' %}">research</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#FEDCD2;">
            <h1><a style="color: black;" href="{% url 'dlabsite:publications' %}">publications</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#DF744A;">
            <h1><a style="color: black;" href="{% url 'dlabsite:data' %}">data</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#F8EEE7;">
            <h1><a style="color: black;" href="{% url 'dlabsite:software' %}">software</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#4484CE;">
            <h1><a style="color: black;" href="https://dosenbachlab.wustl.edu/wiki/">wiki</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#F19F4D;">
            <h1><a style="color: black;" href="{% url 'dlabsite:careers' %}">careers</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#77C9D4;">
            <h1><a style="color: black;" href="{% url 'dlabsite:directions' %}">directions</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-12">
        <div class="grid-y grid-frame align-center-middle text-center" style="height:100vh;background:#DCC7AA;">
            <h1><a style="color: black;" href="{% url 'dlabsite:contact' %}">contact</a></h1>
        </div>
    </div>
</div>
{% endblock %}
