{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block head %}
<meta name="google-site-verification" content="YR6jJfS5YsuTwlpIb8Tojy7WFQDlq3ihFtiD1ga5Dls" />
<!-- Reset Position of the page on refresh -->
<script>window.onload = function() {setTimeout (function () {scrollTo(0,0);}, 100);}</script>
<!-- Check if came from sibling pages -->
<script src="{% static 'dlabsite/js/sibling.js' %}"></script>
<script>sibling(['{% url 'dlabsite:people' %}','{% url 'dlabsite:research' %}',
'{% url 'dlabsite:publications' %}','{% url 'dlabsite:data' %}',
'{% url 'dlabsite:software' %}','{% url 'dlabsite:wiki' %}','{% url 'dlabsite:participate' %}',
'{% url 'dlabsite:directions' %}','{% url 'dlabsite:careers' %}','{% url 'dlabsite:contact' %}'])</script>
{% endblock %}

{% block home %}
class="active"
{% endblock %}

{% block content %}
<div class="title-content animated fadeIn">
	<img class="title center-block" src="{% static 'dlabsite/img/DLTextLogo.png' %}">
</div>
<div class="container-fluid section-header">
	<div id="particles-js" class="animated fadeIn particle"></div>
</div>
{% endblock %}

{% block scripts %}
<!-- Include particles.js script -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- Load the particles settings -->
<script>
	particlesJS.load('particles-js', '{% static 'dlabsite/js/particles_black.json' %}');
	// set the position of the section block relative to the particles-js canvas
	function setpos () {
		$('.section-block').css({
			"top": $('#particles-js').height(),
		});
	}
	// execute on load and resize
    $(document).ready(setpos);
    $(window).resize(setpos);
</script>
{% endblock %}
