{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block title %}
Participate
{% endblock %}

{% block participate %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>Participate in our Research</h2>
				<img class="group-img img-responsive" src="{% static 'dlabsite/img/IMG_0511.jpg' %}">
				<hr>
				<p class="sub-caption">Contribute to Science.</p>
			</div>
		</div>
	</section>
</div>
<div class="container animated fadeIn" style="min-height: 700px;">
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-xs-12 text-center">
			<p>Below is a list of our ongoing studies. If you would like to participate in one, please click the
				<b>Join</b> button and fill out the form. We will contact you shortly after reviewing
				your information.</p>
		</div>
	</div>
	<br>
	{% for study in currentstudies %}
	{% cycle '<div class="row participate-row" style="visibility: hidden;">' '' %}
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>{{study.title}}</h4></div>
				<div class="panel-body" style="min-height: 350px;">
					{% autoescape off %}
					{{study.description}}
					{% endautoescape %}
				</div>
				<div class="panel-footer">
					<a class="btn btn-primary" target="_blank" href="{{study.link}}">Join</a>
					{% if study.flier.url != '' %}
					<a class="btn btn-info" target="_blank" href="{{study.flier.url}}">Flier</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% cycle '' '</div>' %}
	{% endfor %}
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-xs-12">
			<h3>What to Expect</h3>
			<p>The clinical research assistant will meet you in the lobby of the East Building. The study you are
				participating in will be further explained to you, you will be screened for eligibility, and
				you will sign consent documents. Questionnaires and other study documents will be completed at
				this time. If the study in which you’re participating involves MRI scanning, a mock scan may be
				completed first. This is a simulation of the real MRI scan. It provides you with an opportunity
				to see the scanning environment and get a better understanding of what a real scan is like. We
				are then able to determine if you can tolerate lying still for the scan portions of the study.
				Depending on the study, you may also complete additional motor and neuropsychological assessments.</p>
			<br>			
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<img class="center-block img-responsive" src="{% static 'dlabsite/img/IMG_7543.jpg' %}">
				</div>
				<div class="col-md-6 col-xs-12">
					<img class="center-block img-responsive" src="{% static 'dlabsite/img/IMG_7503.jpg' %}">
				</div>
			</div>
			<br>
			<p>The study team wants you to be comfortable. Please let us know how we can best accommodate you.
				We have snacks and drinks available to you. We try to be as flexible as possible with scheduling
				study visits. In addition, please remember that your participation is entirely voluntary and you
				may quit at any time or omit portions of the study. We are excited to have you participate!</p>
		</div>
	</div>
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-xs-12">
			<h3>MRI Scanning</h3>
			<p>If you are participating in a study that includes MRI scanning, please wear comfortable clothing without
				a belt or metal studs in the back. Remember to remove all metal from your body, including jewelry
				and hair accessories.</p>
			<p>The MRI scans do not include radiation, sedation, or anesthesia. You will be required to fill out an
				<a target="_blank" href="{% static 'dlabsite/other_resources/MRI_Screening_Form.pdf' %}">MRI safety
				screening questionnaire</a> to determine if it is safe for you to be scanned.
				The study staff will ensure that you are as comfortable as possible during your scanning session.
				Earbuds are provided to minimize the sound levels of the scanner and allow voice communication with
				the scanner operator. You are asked to lie flat on a padded surface with pillows, sheets, and
				blankets for comfort. You are able to inform the scanner operator of any discomfort
				during the scan.</p>
			<p>During a portion of the scans, you may watch a movie. We have a fairly wide selection of movies from
				which to choose, you may bring your own movie (no Blu-rays), or choose something from Netflix.</p>			
			<p><img class="center-block img-responsive" src="{% static 'dlabsite/img/IMG_0088.jpg' %}"></p>
			<p><img class="center-block img-responsive" src="{% static 'dlabsite/img/IMG_0090.jpg' %}"></p>
		</div>
	</div>
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-xs-12">
			<h3>External Resources</h3>
			<p><a target="_blank" href="https://www.radiologyinfo.org/en/info.cfm?pg=fmribrain">RadiologyInfo.org</a> -
				RadiologyInfo.org tells you how various x-ray, CT, MRI, ultrasound, radiation therapy and other
				procedures are performed. It also addresses what you may experience and how to prepare for the exams.
				The website contains over 200 procedure, exam and disease descriptions covering diagnostic and
				interventional radiology, nuclear medicine, radiation therapy and radiation safety and is updated
				frequently with new information. All material on the RadiologyInfo.org website is reviewed and approved
				by experts in the field of radiology from the ACR and RSNA, as well as other professional radiology
				organizations.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
	//Setup scroll reveal
	sr = ScrollReveal();

	// scroll reveal
	sr.reveal('.participate-row',{
		reset: false,
		duration: 1000,
		viewFactor: 0.2,
	});
</script>
{% endblock %}
