{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block participate %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Participate in our Work</h2>
				<hr>
				<p class="sub-caption">Contribute to Science. Join our studies.</p>
			</div>
		</div>
	</section>
</div>
<div class="container animated fadeIn" style="min-height: 700px;">
	{% for study in currentstudies %}
	<div class="row participate-row" style="visibility: hidden;">
		<div class="panel panel-default">
			<div class="panel-heading"><h5>{{study.title}}</h5></div>
			<div class="panel-body">
				{% autoescape off %}
				{{study.description}}
				{% endautoescape %}
				<a class="btn btn-primary" target="_blank" href="{{study.link}}">Join</a>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-lg-12">
			<h4>MRI Scanning</h4>
			<p>If you are participating in a study that includes MRI scanning,
				please wear comfortable clothing without a belt or metal studs in the back.
				Remember to remove all metal from your body, including jewelry and hair accessories.</p>
			<p>The MRI scans do not include radiation, sedation, or anesthesia.
				You will be required to fill out an MRI safety screening questionnaire to determine
				if it is safe for you to be scanned (See Questionnaire <a href="">here</a>).
				The study staff will ensure that you are as comfortable as possible during your scanning session.
				Earbuds are provided to minimize the sound levels of the scanner and allow voice communication with the
				scanner operator. You are asked to lie flat on a padded surface with pillows, sheets, and blankets for
				comfort. During a portion of the scans, you may watch a movie. We have a fairly wide selection of movies
				from which to choose, you may bring your own (no Blu-rays), or choose something from Netflix.</p>
		</div>
	<div class="row participate-row" style="visibility: hidden;">
		<div class="col-lg-12">
			<h4>Resources</h4>
			<p>Stuff will go here...</p>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
	//Setup scroll reveal
	sr = ScrollReveal();

	// scroll reveal
	sr.reveal('.participate-row',{
		reset: true,
		duration: 1000,
		viewFactor: 0.3,
	});
</script>
{% endblock %}
