{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block people %}
class="active"
{% endblock %}

{% block content %}
<div class="container-fluid container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Meet the team</h2>
				<hr>
				<p>Click on a portrait for a full profile.</p>
			</div>
		</div>
	</section>
</div>
<div class="container">
	<div class="grid">
		<div class="grid-sizer col-xs-1 col-sm-1 col-md-1"></div>
		{% for person in query_lab_members %}
		<div class="grid-item col-xs-6 col-sm-4 col-md-3 animated fadeIn">
			{% if person.photo.url != '' %}
			<img class="lab-mem-portrait" src="{{person.photo.url}}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
			{% else %}
			<img class="lab-mem-portrait" src="{% static 'dlabsite/img/photonotavailable.gif' %}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

{% for person in query_lab_members %}
<div class="modal fade" id="person_{{ forloop.counter0 }}" aria-labelledby="labmemberdescription">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						{% if person.photo.url != '' %}
						<img class="img-responsive" src="{{person.photo.url}}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
						{% else %}
						<img class="img-responsive" src="{% static 'dlabsite/img/photonotavailable.gif' %}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
						{% endif %}
					</div>
					<div class="col-xs-8">
						<div class="row">
							<h4 class="modal-title" id="myModalLabel">{{ person.first_name }} {{ person.last_name }}</h4>
							<h5>Title: {{ person.title }}</h5>
							<h5>Email: {{ person.email }}</h5>
							<h5>Phone: {{ person.phone }}</h5>
							{% autoescape off %}
								{{ person.blurb }}
							{% endautoescape %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<!-- Images Loaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
	// check scroll
	function checkScroll() {
	    var startY = 60;

	    if($(window).scrollTop() > startY) {
			$(".navbar").fadeOut();
	    }
		else {
			$(".navbar").fadeIn();
	    }
	}

	// only check scroll if navbar exists
	if($(".navbar").length > 0) {
	    $(window).on("scroll load resize", function() {
	        checkScroll();
	    });
	}

	// Setup the grid
	var $grid = $('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true
	});

	//Setup scroll reveal
	sr = ScrollReveal();

	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
		$('.grid').hide();
		$grid.masonry('layout');

	  	// scroll reveal
		$('.grid').show();
  		sr.reveal('.grid-item .lab-mem-portrait',{
  			duration: 1000,
  			viewFactor: 0.3
		}, 100);
	});
</script>
<script src="{% static 'dlabsite/js/navbar.js' %}"></script>
<script>
	navbar_click('#home','{% url 'dlabsite:homepage' %}','body>div,body>section');
	//navbar_click('#people','{% url 'dlabsite:people' %}','body>div,body>section');
	navbar_click('#research','{% url 'dlabsite:research' %}','body>div,body>section');
	navbar_click('#publications','{% url 'dlabsite:publications' %}','body>div,body>section');
	navbar_click('#resources','{% url 'dlabsite:resources' %}','body>div,body>section');
	navbar_click('#opportunities','{% url 'dlabsite:opportunities' %}','body>div,body>section');
	navbar_click('#contact','{% url 'dlabsite:contact' %}','body>div,body>section');
</script>
{% endblock %}
