{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block people %}
class="active"
{% endblock %}

{% block content %}
<div class="container-fluid container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>Meet the team</h2>
				<img class="group-img" src="{% static 'dlabsite/img/groupphoto.jpg' %}">
				<hr>
				<p>Click on a portrait for a full profile.</p>
			</div>
		</div>
	</section>
</div>
<div class="container" style="min-height: 700px;">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-lg-2 col-lg-offset-1">
			<div class="checkbox">
				<label><input id="current" type="checkbox" checked>Current Members</label>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="checkbox">
				<label><input id="past" type="checkbox">Past Members</label>
			</div>
		</div>
		<div class="col-lg-3 col-lg-offset-2 text-center">
			<input id="search" type="text" class="form-control" placeholder="Search Name">
		</div>
	</div>
	<div class="grid">
		<div class="grid-sizer col-xs-1 col-sm-1 col-md-1"></div>
		{% for person in members %}
		<div class="grid-item col-xs-6 col-sm-4 col-md-3 animated fadeIn" data-alumni="{{ person.alumni }}" data-fname="{{ person.first_name }}" data-lname="{{ person.last_name }}">
			{% if person.photo.url != '' %}
			<img class="lab-mem-portrait" src="{{person.photo.url}}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
			{% else %}
			<img class="lab-mem-portrait" src="{% static 'dlabsite/img/photonotavailable.gif' %}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
			{% endif %}
			<p class="text-center">{{ person.last_name }}, {{ person.first_name }} </p>
		</div>
		{% endfor %}
	</div>
</div>

{% for person in members %}
<div class="modal fade" id="person_{{ forloop.counter0 }}" aria-labelledby="labmemberdescription">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-4">
						{% if person.photo.url != '' %}
						<img class="img-responsive" src="{{person.photo.url}}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
						{% else %}
						<img class="img-responsive" src="{% static 'dlabsite/img/photonotavailable.gif' %}" data-toggle="modal" data-target="#person_{{ forloop.counter0 }}">
						{% endif %}
					</div>
					<div class="col-xs-8">
						<div class="row">
							<h4 class="modal-title" id="myModalLabel">{{ person.first_name }} {{ person.last_name }}</h4>
							<h5>Title: {{ person.title }}</h5>
							<h5>Email: {{ person.email }}</h5>
							<h5>Phone: {{ person.phone }}</h5>
							{% autoescape off %}
								{{ person.blurb }}
							{% endautoescape %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<!-- Images Loaded -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'dlabsite/js/elefilt.js' %}"></script>
<script>
	// Get checkbox status
	function getcheckboxstatus() {
		// Check each grid item alumni data tag
		$('.grid-item').each(function() {
			eledata = $(this).data();
			// if member is NOT alumni
			if (eledata['alumni'] == 'False') {
				// Current members checkbox active
				if ($('#current').prop('checked')) {
					$(this).show();
				}
				else {
					$(this).hide();
				}
			}
			// if member is alumni
			if (eledata['alumni'] == 'True') {
				// Past members checkbox active
				if ($('#past').prop('checked')) {
					$(this).show();
				}
				else {
					$(this).hide();
				}
			}
		});
	}
	
	// execute on click of checkboxes
	getcheckboxstatus(); // execute on load
	$('.checkbox input').click(function (){
		getcheckboxstatus();
		$grid.masonry('layout'); // reset the layout
	});
	
	// execute on typing in textbox
	$('#search').keyup(function () {
		getcheckboxstatus();
		if ($(this).val()) {
			$('.grid-item:visible').Elefilt($(this).val(),['fname','lname'])
		}
		else {
			$('.grid-item:visible').show();
			
		}
		$grid.masonry('layout'); // reset the layout
	});
	
	// Setup the grid
	var $grid = $('.grid').masonry({
		itemSelector: '.grid-item',
		columnWidth: '.grid-sizer',
		percentPosition: true
	});

	//Setup scroll reveal
	sr = ScrollReveal();

	// layout Masonry after each image loads
	$grid.imagesLoaded().progress( function() {
		$('.grid').hide();
		$grid.masonry('layout');

	  	// scroll reveal
		$('.grid').show();
  		sr.reveal('.grid-item .lab-mem-portrait, .grid-item>p',{
  			duration: 1000,
  			viewFactor: 0.3
		}, 100);
	});
</script>
{% endblock %}
