{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block publications %}
class="active"
{% endblock %}

{% block content %}
<div class="container container-nav-clear animated fadeIn">
	<section class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2>See our work</h2>
				<hr>
				<p class="sub-caption">Changing the world, one paper at a time.</p>
			</div>
		</div>
	</section>
</div>
<div class="container">
	{% for current_year in lastfiveyears %}
	<div class="row pub-row" style="visibility: hidden;">
		<div class="col-xs-3 col-xs-offset-1">
			<h4>{{ current_year }}{% if forloop.last %} and older{% endif %}</h4>
		</div>
	</div>
	{% if forloop.last %}
	{% for pub in publications %}
	{% if pub.date.year <= current_year %}
	<div class="row pub-row" style="visibility: hidden;">
		<div class="col-xs-10 col-xs-offset-1">
			<p>{{ pub.container }}{% for pub_link in pub.publication_link_set.all %} [<a href="{{ pub_link.link }}">Link {{ forloop.counter }}</a>]{% endfor %}</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% else %}
	{% for pub in publications %}
	{% if pub.date.year == current_year %}
	<div class="row pub-row" style="visibility: hidden;">
		<div class="col-xs-10 col-xs-offset-1">
			<p>{{ pub.container }}{% for pub_link in pub.publication_link_set.all %} [<a href="{{ pub_link.link }}">Link {{ forloop.counter }}</a>]{% endfor %}</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<!-- Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
	//Setup scroll reveal
	sr = ScrollReveal();

	// scroll reveal
	sr.reveal('.pub-row',{
  		reset: true,
		duration: 1000,
		viewFactor: 0.3,
	});
</script>
{% endblock %}
