{% extends "dlabsite/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="grid-container fluid" style="height:100%;background:#FEDCD2;color:#DF744A">
    <div class="grid-x">
        <div class="cell small-8 small-offset-2">
            <h1 style="text-align:center;">r e s e a r c h</h1>
            <p>The development of many human abilities, including cognitive,
                motor, sensory, and social functions, are intricately linked.
                Thus, a complete understanding of the development of one
                function relies upon understanding its interactions with the
                others. One way to study these interactions is to examine how
                different parts of the brain communicate to support these
                functions. Brain areas are organized into functional networks,
                and the complex interactions within and among these networks
                can reveal principles about the relationships among numerous
                human abilities in both typical and atypical development.</p>
            <p>Our lab uses the latest tools of cognitive neuroscience to study
                the development of brain network organization and how it
                supports cognitive and sensorimotor development. We use
                multimodal MRI techniques to study typically and atypically
                developing populations to accomplish our goals.</p>
        </div>
    </div>
</div>
{% endblock %}
